@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, "roboto";
  background-color: white;
}

@font-face {
  font-family: "bold";
  src: url("/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: url("/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "thin";
  src: url("/Roboto-Thin.ttf") format("truetype");
}

main {
  background-image: url(/bghome.png);
  background-size: cover;
}

#span {
  font-weight: bold;
  color: aqua;
}

#service {
  background-image: url(/bg.png);
  background-size: cover;
}

#plans {
  background-color: white;
}

#contact {
  background-image: url(/bgform.png);
}

.pink {
  background-color: #f7ccff;
}

#choose {
  background-image: url(/bgchoose.png);
  background-size: cover;
}
